<!DOCTYPE html>
<html>
   <head>
        <title>Login</title>
        <style>
          table {
            font-family: arial, sans-serif;
            background-color: #ffffff;
            border-collapse: collapse;
            width: 100%;
          }

          td, th {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
          }
        </style>
   </head>
   <body style="background-color: #00FFFF">
     <form action="{{ request.path }}" method="POST">
      <input type="username" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Log in">
    </form>
   </body>
</html>
