<!DOCTYPE html>
<html>
   <head>
        <title>Pengawasan Sekre</title>
        <style>
          table {
            font-family: arial, sans-serif;
            background-color: #ffffff;
            border-collapse: collapse;
            width: 100%;
          }

          td, th {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
          }
        </style>
   </head>
   <body style="background-color: #00FFFF">
     <table style="width:100%">
      <tr>
        <th>Nama Unit</th>
        <th>Status Listrik</th>
        <th>Status Pintu</th>
      </tr>
      {{d}}
    </table>
     <p><a href="{{ url_for('logout') }}">logout</a></p>
   </body>
</html>
